.features {
  padding: 94px 0 0;
}

.features__list {
  display: flex;
}

.features__item {
  margin: 0 30px 0 0;
  max-width: 270px;
}

.features__item:last-child {
  margin: 0;
}

.features__item::before {
  display: block;
  content: "";
  height: 120px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-color: #F5F4FA;
  background-size: auto;
  margin: 0 0 30px;
  border-radius: 4px;

}

.icon-attention::before {
  background-image: url(../images/background/antenna\ 1.svg);

}

.icon-punctuality::before {
  background-image: url(../images/background/clock\ 1.svg);
}

.icon-planning::before {
  background-image: url(../images/background/diagram\ 1.svg);
}



.icon-technologies::before {
  background-image: url(../images/background/astronaut\ 1.svg);
}


.features__title {
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  margin: 0 0 10px;
}

.features__text {
  color: var(--additional-tex-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  margin: 0;
}